name: Deploy

on:
  pull_request:
    branches:
      - main
  push:
    branches:
    - main

  workflow_dispatch:

env:
  OIDC_IAM_ROLE_ARN: ${{ secrets.OIDC_IAM_ROLE_ARN }}
  AWS_REGION: us-west-2

permissions:
  id-token: write
  contents: read

# 同時実行すると CREATE_IN_PROGRESS や UPDATE_IN_PROGRESS 状態で cdk deploy を行う可能性があるため抑止する
concurrency:
  group: "cloudformation"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
      with:
        role-to-assume: ${{ env.OIDC_IAM_ROLE_ARN }}
        role-session-name: GitHubActions
        aws-region: ${{ env.AWS_REGION }}

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Use Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 'lts/*'
        check-latest: true
        package-manager-cache: false

    - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      name: Install pnpm
      with:
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]
          - args: [--global, aws-cdk, esbuild]

    - name: deploy infra
      working-directory: ./cdk
      run: |
        cdk deploy

    - name: resolve resources
      id: resolve-resources
      working-directory: ./cdk
      run: |
        stack_name="$(jq -r '.context.config.stackName' cdk.json)"
        response=$(aws cloudformation describe-stack-resources --stack-name "$stack_name")
        cf_dist_id=$(echo "$response" | jq -r '.StackResources.[] | select(.ResourceType == "AWS::CloudFront::Distribution") | .PhysicalResourceId')

        cf_dist_url=$(aws cloudfront get-distribution --id $cf_dist_id --query "Distribution.DomainName" --output=text)
        s3_bucket_name=$(echo "$response" | jq -r '.StackResources.[] | select(.ResourceType == "AWS::S3::Bucket") | .PhysicalResourceId')
        client_id=$(echo "$response" | jq -r '.StackResources.[] | select(.ResourceType == "AWS::Cognito::UserPoolClient") | .PhysicalResourceId')
        id_pool_id=$(echo "$response" | jq -r '.StackResources.[] | select(.ResourceType == "AWS::Cognito::IdentityPool") | .PhysicalResourceId')
        user_pool_id=$(echo "$response" | jq -r '.StackResources.[] | select(.ResourceType == "AWS::Cognito::UserPool") | .PhysicalResourceId')
        user_pool_domain=$(echo "$response" | jq -r '.StackResources.[] | select(.ResourceType == "AWS::Cognito::UserPoolDomain") | .PhysicalResourceId')

        echo "DIST_URL=$cf_dist_url" >> "$GITHUB_OUTPUT"
        echo "BUCKET_NAME=$s3_bucket_name" >> "$GITHUB_OUTPUT"
        echo "CLIENT_ID=$client_id" >> "$GITHUB_OUTPUT"
        echo "ID_POOL_ID=$id_pool_id" >> "$GITHUB_OUTPUT"
        echo "USER_POOL_ID=$user_pool_id" >> "$GITHUB_OUTPUT"
        echo "USER_POOL_DOMAIN=$user_pool_domain" >> "$GITHUB_OUTPUT"

    - name: deploy app
      working-directory: ./app/cdk
      env:
        DIST_URL: ${{ steps.resolve-resources.outputs.DIST_URL }}
        BUCKET_NAME: ${{ steps.resolve-resources.outputs.BUCKET_NAME }}
        CLIENT_ID: ${{ steps.resolve-resources.outputs.CLIENT_ID }}
        ID_POOL_ID: ${{ steps.resolve-resources.outputs.ID_POOL_ID }}
        USER_POOL_ID: ${{ steps.resolve-resources.outputs.USER_POOL_ID }}
        USER_POOL_DOMAIN: ${{ steps.resolve-resources.outputs.USER_POOL_DOMAIN }}
      run: |
        cdk deploy \
          -c s3bucketName="$BUCKET_NAME" \
          -c userPoolId="$USER_POOL_ID" \
          -c clientId="$CLIENT_ID" \
          -c identityPoolId="$ID_POOL_ID" \
          -c cognitoDomain="$USER_POOL_DOMAIN" \
          -c cfUrl="$DIST_URL"
